In [1]:
import pandas as pd

In [16]:
from sqlalchemy import create_engine

In [ ]:
from time import time

In [18]:
engine = create_engine('postgresql://root:tom_123@localhost:5432/ny_taxi')
engine.connect()

In [6]:
df = pd.read_csv('taxi_datacsv.csv')

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name = 'taxi_data',con =engine ))

CREATE TABLE "taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [19]:
df.head(n=0).to_sql(name='yellow_tripdata_trip', con=engine, if_exists='replace')

AttributeError: 'DataFrame' object has no attribute 'to'

In [1]:
df_iter = pd.read_csv('taxi_datacsv.csv', iterator = True , chunksize = 100000)

NameError: name 'pd' is not defined

In [2]:
df = next(df_iter)

NameError: name 'df_iter' is not defined

In [3]:
%time df.to_sql(name = 'yellow_tripdata_trip', con = engine, if_exists = 'append')

NameError: name 'df' is not defined

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name = 'yellow_tripdata_trip', con = engine, if_exists = 'append')
    t_end = time()
    print('inserting.., took %.3f' %(t_end - t_end))